# ## Azure dependency ##

# ## infoblox dependency ##

infoblox-client
#iputils
# ## community.general dependency ##
ipaddress
dnspython
jmespath

# ## CA certs  dependency ##
certifi>=2025.6.15

# ## ansible.utils.ipaddr dependency ##
netaddr

# ## community.general.ldap* dependency ##
python-ldap
ldap3

# ## General Addons##
ansible-lint
pylint
black
mypy
pytest
pgpy
types-PyYAML
pydoclint
ripgrep
tzdata

# ## community.general.mssql_script dependency ##
pymssql
pyodbc

# ## community.general.fqdn_valid
fqdn

# required by hosting.common.create_yopass_link
yopass-api

# ## VMware dependency ##
pyvmomi==9.0.0.0
vmware-vcenter
vmware-vapi-common-client
setuptools < 82
vcf-sdk

#ansible.windows
pywinrm>=0.5.0
pykerberos

#required by dellemc.unity
requests
urllib3
storops

#required by hosting.azure
azure-mgmt-subscription
